<form method="get" action="/choice">
  <div class="form-group" style="margin-right: 500px; margin-left: 500px; margin-top: 150px">
    <label for="exampleInputEmail1" style="text-align: center; width: 440px; font-size: 70px; color:mediumslateblue;
      font-family: Brush Script MT, Brush Script Std, cursive; ">
      Pet's Name
    </label>
    <input name="name" type="text" class="form-control" id="exampleInputEmail1"
           aria-describedby="emailHelp" placeholder="enter name..."
           style=" font-size: 20px">
  </div>
  <button style="margin-right: 500px; margin-left: 500px; width: 440px;
    background-color: mediumslateblue;"
          type="submit" class="btn btn-primary">
    Enter
  </button>
</form>
