<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>name</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body style="background-image: url(https://wallpaper-house.com/data/out/4/wallpaper2you_33271.jpg)">
<label style="text-align: center; width: 90rem; font-size: 5rem; color:orangered;
  font-family: Brush Script MT, Brush Script Std, cursive; ">
  Select pet
</label>

<div style="margin-top: 1rem; margin-left: 32rem; margin-right: 32rem">
<div class="card" style="width: 12rem; height: 12rem; float: left; margin-right: 0.5rem;">
  <img style="height: 12rem; border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);" class="card-img-top"
       src="https://dumielauxepices.net/sites/default/files/snail-clipart-garry-768081-5889990.jpg"
       alt="Card image cap">
</div>

<div class="card" style="width: 12rem; height: 12rem;">
  <img style="height: 12rem; border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);" class="card-img-top"
       src="https://img2.goodfon.ru/original/1024x1024/2/b2/kurazh-kurazh-truslivyy-pes-2811.jpg"
       alt="Card image cap">
</div>
</div>

<div style="margin-top: 0.5rem; margin-left: 32rem; margin-right: 32rem">
<div class="card" style="width: 12rem; height: 12rem; float: left; margin-right: 0.5rem">
  <img  style="height: 12rem; border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);" class="card-img-top"
        src="https://cdn.shopify.com/s/files/1/0892/0186/products/Garfield_limited_edition_PLC-3.jpg?v=1467401499"
        alt="Card image cap">
</div>

<div class="card" style="width: 12rem; height: 12rem">
  <img style="height: 12rem; border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);" class="card-img-top"
       src="http://www.drawinghowtodraw.com/stepbystepdrawinglessons/wp-content/uploads/2010/11/colorized-tweety-bird.png"
       alt="Card image cap">
</div>
</div>
<a href="../tam" style="margin-right: 35rem; margin-left: 35rem; font-size: 5rem;
  color:orangered; font-family: Brush Script MT, Brush Script Std, cursive;">
  go next ->
</a>
</body>
</html>
