<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Tamagotchi</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.scss">
</head>
<body>


<div><img src="https://img.icons8.com/cotton/150/000000/like.png"> <div style="width: 200px"><%= tamagotchi.health %></div></div>
  <div><img src="https://img.icons8.com/cotton/150/000000/hamburger.png"> <%= tamagotchi.hungry %></div>
  <div><img src="https://img.icons8.com/linen/150/000000/electricity.png"> <%= tamagotchi.happiness %></div>
  <div><img src="https://img.icons8.com/cotton/150/000000/wash-your-hands.png"> <%= tamagotchi.cleanliness %></div>

<a href="../feed">Feed</a>
<a href="../clean">Clean</a>
<a href="../fun">Fun</a>

</body>
</html>
