<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>name</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body style="background-image: url(https://wallpaper-house.com/data/out/4/wallpaper2you_33271.jpg)">
<form method="get" action="/">
  <div class="form-group" style="margin-right: 500px; margin-left: 500px; margin-top: 150px">
    <label for="exampleInputEmail1" style="text-align: center; width: 440px; font-size: 70px; color: blue;
      font-family: Brush Script MT, Brush Script Std, cursive; ">
      Pet's Name
    </label>
    <input name="name" type="text" class="form-control" id="exampleInputEmail1"
           aria-describedby="emailHelp" placeholder="Enter name" style="text-align: center;
      font-family: Brush Script MT, Brush Script Std, cursive; font-size: 40px" >
  </div>
  <button style="margin-right: 500px; margin-left: 500px; width: 440px"
          type="submit" class="btn btn-primary">
    Enter
  </button>
  <a href="../tam">go next</a>
</form>
</body>
</html>
